USE [OOOSportMaster]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Provider]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[OrderProduct] DROP CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[OrderProduct] DROP CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Point]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Unit]') AND type in (N'U'))
DROP TABLE [dbo].[Unit]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Status]') AND type in (N'U'))
DROP TABLE [dbo].[Status]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Provider]') AND type in (N'U'))
DROP TABLE [dbo].[Provider]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Point]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Point]') AND type in (N'U'))
DROP TABLE [dbo].[Point]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderProduct]') AND type in (N'U'))
DROP TABLE [dbo].[OrderProduct]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Manufacturer]') AND type in (N'U'))
DROP TABLE [dbo].[Manufacturer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 08.03.2023 15:58:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
USE [master]
GO
/****** Object:  Database [OOOSportMaster]    Script Date: 08.03.2023 15:58:41 ******/
DROP DATABASE [OOOSportMaster]
GO
/****** Object:  Database [OOOSportMaster]    Script Date: 08.03.2023 15:58:41 ******/
CREATE DATABASE [OOOSportMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOO Obyv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOO Obyv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOOSportMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOOSportMaster]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerId] [int] NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[PointId] [int] NOT NULL,
	[UserFullName] [nvarchar](150) NULL,
	[UniqueCode] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderId] [int] NOT NULL,
	[ProductArticle] [nvarchar](100) NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Point]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Point](
	[PointId] [int] NOT NULL,
	[PointAddress] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Point] PRIMARY KEY CLUSTERED 
(
	[PointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductArticle] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductDecription] [nvarchar](100) NULL,
	[ProductPhoto] [nvarchar](100) NULL,
	[ProductDiscount] [float] NOT NULL,
	[ProductCost] [float] NOT NULL,
	[ProductManufactureId] [int] NOT NULL,
	[ProductProviderId] [int] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductUnitId] [int] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderId] [int] NOT NULL,
	[ProviderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.03.2023 15:58:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[UserLastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserMiddleName] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Гантели')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Штанги')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Гири')
GO
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (1, N'Wiki')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (2, N'Zerintios')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (3, N'Ladagranta')
GO
INSERT [dbo].[Point] ([PointId], [PointAddress]) VALUES (1, N'344288, г. Москва, ул. Чехова, 1')
INSERT [dbo].[Point] ([PointId], [PointAddress]) VALUES (2, N'614164, г.Москва,  ул. Степная, 30')
INSERT [dbo].[Point] ([PointId], [PointAddress]) VALUES (3, N'394242, г. Москва, ул. Коммунистическая, 43')
GO
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'32DSA', N'Гиря', N'Гиря чугунная SportElite 6 кг', N'bfda.png', 3, 540, 3, 2, 3, 1, 12)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'BBVD6', N'Разборная гантель', N'Brutal Sport 39 кг с цветными дисками', N'', 3, 1000, 1, 1, 1, 1, 3)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'CAD43', N'Гиря', N'Гиря пластиковая Euro Classic 5 кг Черная', N'', 10, 350, 4, 2, 3, 1, 3)
GO
INSERT [dbo].[Provider] ([ProviderId], [ProviderName]) VALUES (1, N'Sport')
INSERT [dbo].[Provider] ([ProviderId], [ProviderName]) VALUES (2, N'OOO Master')
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Клиент')
GO
INSERT [dbo].[Unit] ([UnitId], [UnitName]) VALUES (1, N'шт')
GO
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (2, N'Петров', N'Петр', N'Петрович', N'petrov@namecomp.ru', N'uzWC67', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (3, N'Федоров', N'Федор', N'Федорович', N'fedorov@namecomp.ru', N'8ntwUp', 1)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Point] FOREIGN KEY([PointId])
REFERENCES [dbo].[Point] ([PointId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Point]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductArticle])
REFERENCES [dbo].[Product] ([ProductArticle])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ProductManufactureId])
REFERENCES [dbo].[Manufacturer] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Provider] FOREIGN KEY([ProductProviderId])
REFERENCES [dbo].[Provider] ([ProviderId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Provider]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([ProductUnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  Statistic [PK_Category]    Script Date: 08.03.2023 15:58:41 ******/
UPDATE STATISTICS [dbo].[Category]([PK_Category]) WITH STATS_STREAM = 0x01000000010000000000000000000000CAD5322700000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000FE7F0000070000004EE94701BDAF0000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Manufacturer]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Manufacturer]([PK_Manufacturer]) WITH STATS_STREAM = 0x010000000100000000000000000000008864E4560000000040000000000000000000000000000000380300003800000004000A00000000000000000001000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000006_4F7CD00D]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000006_4F7CD00D] ON [dbo].[Order]([UniqueCode]) WITH STATS_STREAM = 0x010000000100000000000000000000001F322C810000000076020000000000003602000000000000380300003800000004000A0000000000000000005F02000007000000C885160177AF00000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F8F030000040000100014000000803F0000803F0000803F91030000040000100014000000803F0000803F0000803F93030000040000100014000000803F0000803F0000803F95030000040000100014000000803F0000803F0000803F97030000040000100014000000803F000000000000803F980300000400000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Order]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Order]([PK_Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000382B0E510000000040000000000000000000000000000000380300803800000004000A0000000000000000000000803F, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_534D60F1]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_534D60F1] ON [dbo].[OrderProduct]([ProductArticle]) WITH STATS_STREAM = 0x01000000010000000000000000000000D9F5AEB7000000002F02000000000000EF01000000000000E7030000E7000000C80000000000000015D000005F02000007000000852A1A0177AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002300410041004100360036003600FF01000000000000000100000001000000280000002800000000000000000000000600000041004100410036003600360002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_OrderProduct]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[OrderProduct]([PK_OrderProduct]) WITH STATS_STREAM = 0x01000000020000000000000000000000932EA3720000000058000000000000000000000000000000380300003800000004000A00000000000000000004000001E7030041E7000000C80000000000000015D0000000000000, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Point]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Point]([PK_Point]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 36, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000002_267ABA7A] ON [dbo].[Product]([ProductName]) WITH STATS_STREAM = 0x010000000100000000000000000000004376FE3600000000A8030000000000006803000000000000E7030000E7000000C80000000000000015D000000000000007000000FFB600015BAF00001E000000000000001E00000000000000000000002549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007000000070000000100000010000000898868410000F04100000000898868410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000003B01000000000000E401000000000000EC01000000000000F40100000000000038000000000000005D000000000000007C00000000000000A500000000000000D200000000000000F5000000000000001A010000000000003000100000001041000000000000803F0400000100250011043E04420438043D043A043804300010000000803F000000000000803F04000001001F001A04350434044B043000100000000040000000000000803F040000010029001A0440043E04410441043E0432043A043804300010000000C040000000000000803F04000001002D001F043E043B04430431043E04420438043D043A043804300010000000803F000000000000803F04000001002300210430043F043E04330438043000100000004040000000000000803F04000001002500220430043F043E0447043A0438043000100000000041000000000000803F040000010021002204430444043B043804FF01000000000000000B00000006000000280000002800000000000000000000002900000011043E04420438043D043A0438041A04350434044B0440043E04410441043E0432043A0438041F043E043B04430431043E04420438043D043A043804220430043F043E0447043A043804430444043B0438040900000040000000008307000000C001070000810308000001080B0000820B13000040011E000081061F00000304250000001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000005_267ABA7A] ON [dbo].[Product]([ProductDiscount]) WITH STATS_STREAM = 0x01000000010000000000000000000000D38E7A3C000000008E020000000000004E020000000000003E0300003E0000000800350000000000000000000000000007000000615EF9005BAF00001E000000000000001E0000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000018000000000000410000F0410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000D200000000000000DA00000000000000E20000000000000030000000000000004B00000000000000660000000000000081000000000000009C00000000000000B7000000000000001000180000006041000000000000803F00000000000000400400001000180000001041000000000000803F00000000000008400400001000180000008040000000000000803F0000000000001040040000100018000000803F000000000000803F0000000000001440040000100018000000803F000000000000803F0000000000003040040000100018000000803F000000000000803F00000000000037400400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000006_267ABA7A] ON [dbo].[Product]([ProductCost]) WITH STATS_STREAM = 0x010000000100000000000000000000008BDA334D000000000405000000000000C4040000000000003E0350003E000000080035000000000000000000E401000007000000C68CE2005CAF00001E000000000000001E000000000000000000803F2549123D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000018000000180000000100000018000000000000410000F0410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000480300000000000050030000000000005803000000000000C000000000000000DB00000000000000F60000000000000011010000000000002C01000000000000470100000000000062010000000000007D010000000000009801000000000000B301000000000000CE01000000000000E90100000000000004020000000000001F020000000000003A02000000000000550200000000000070020000000000008B02000000000000A602000000000000C102000000000000DC02000000000000F70200000000000012030000000000002D03000000000000100018000000803F000000000000803F0000000000407F40040000100018000000803F000000000000803F0000000000B88240040000100018000000803F000000000000803F0000000000909A40040000100018000000803F0000803F0000803F0000000000889D40040000100018000000803F000000000000803F000000000068A040040000100018000000803F000000000000803F0000000000D8A040040000100018000000803F000000000000803F0000000000F8A1400400001000180000000040000000000000803F000000000018A5400400001000180000000040000000000000803F0000000000E0A540040000100018000000803F000000000000803F000000000058A940040000100018000000803F000000000000803F0000000000B0AD40040000100018000000803F000000000000803F000000000004B040040000100018000000803F000000400000803F000000000093B140040000100018000000803F0000803F0000803F00000000005BB240040000100018000000803F000000000000803F00000000007EB340040000100018000000803F000000000000803F000000000018B540040000100018000000803F000000000000803F00000000007CB540040000100018000000803F000000000000803F00000000000CB740040000100018000000803F000000000000803F0000000000C8B940040000100018000000803F000000000000803F000000000090BA40040000100018000000803F000000000000803F000000000056C340040000100018000000803F000000000000803F0000000000ECC340040000100018000000803F000000000000803F00000000000CC740040000100018000000803F000000000000803F000000000038C8400400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000007_267ABA7A] ON [dbo].[Product]([ProductManufactureId]) WITH STATS_STREAM = 0x010000000100000000000000000000002A22761800000000570200000000000017020000000000003803803F3800000004000A00000000000000000000803F0007000000F6A4B8005BAF00001E000000000000001E000000000000000000003FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D0000000000000084000000000000001000140000000041000000000000803F0100000004000010001400000000400000004000000040030000000400001000140000001041000000000000803F040000000400001000140000000040000000000000803F05000000040000100014000000E040000000000000803F060000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000008_267ABA7A] ON [dbo].[Product]([ProductProviderId]) WITH STATS_STREAM = 0x010000000100000000000000000000004E33B94000000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000005F02000007000000FAA4B8005BAF00001E000000000000001E00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000008041000000000000803F010000000400001000140000006041000000000000803F020000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000009_267ABA7A] ON [dbo].[Product]([ProductCategoryId]) WITH STATS_STREAM = 0x01000000010000000000000000000000AC322D2B00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000005F02000007000000E7A4B8005BAF00001E000000000000001E00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000009041000000000000803F010000000400001000140000004041000000000000803F020000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_267ABA7A]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_0000000A_267ABA7A] ON [dbo].[Product]([ProductUnitId]) WITH STATS_STREAM = 0x0100000001000000000000000000000029075CAA00000000DB010000000000009B01000000000000380345713800000004000A0000000000000000000000000007000000FEA4B8005BAF00001E000000000000001E00000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000F041000000000000803F010000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Product]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x010000000100000000000000000000006A6C4DA50000000040000000000000000000000000000000E703BA7CE7000000C80000000000000015D0000000000000, ROWCOUNT = 9, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Provider]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Provider]([PK_Provider]) WITH STATS_STREAM = 0x01000000010000000000000000000000D9445AFA00000000FA01000000000000BA010000000000003803F0413800000004000A00000000000000000000000000070000004CE94701BDAF000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Role]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Role]([PK_Role]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Status]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Status]([PK_Status]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Unit]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[Unit]([PK_Unit]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000005_5DCAEF64]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000005_5DCAEF64] ON [dbo].[User]([UserLogin]) WITH STATS_STREAM = 0x0100000001000000000000000000000062BEC8A3000000005B060000000000001B06000000000000E7030000E7000000C80000000000000015D000005F020000070000002CB05701BDAF00000A000000000000000A0000000000000000000000CDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000A0000000A0000000100000010000000CDCC18420000204100000000CDCC1842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000B40200000000000097040000000000009F04000000000000A70400000000000050000000000000008F00000000000000CC00000000000000070100000000000044010000000000007F01000000000000BC01000000000000F70100000000000034020000000000007502000000000000300010000000803F000000000000803F04000001003F00620065006C007900650076006100400040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003D006600650064006F0072006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003B0068006F0068006C006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003D00690067006E00610074006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003B004900760061006E006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003D006D00690072006F006E006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003B0070006500740072006F00760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003D00730068006900720079006500760040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F0400000100410073006D00690072006E006F0076006100400040006E0061006D00650063006F006D0070002E0072007500300010000000803F000000000000803F04000001003F0073007400720065006C006B006F00760040006E0061006D00650063006F006D0070002E0072007500FF01000000000000000A0000000A00000028000000280000000000000000000000BC000000620065006C007900650076006100400040006E0061006D00650063006F006D0070002E00720075006600650064006F0072006F00760040006E0061006D00650063006F006D0070002E007200750068006F0068006C006F00760040006E0061006D00650063006F006D0070002E0072007500690067006E00610074006F00760040006E0061006D00650063006F006D0070002E0072007500760061006E006F00760040006E0061006D00650063006F006D0070002E00720075006D00690072006F006E006F00760040006E0061006D00650063006F006D0070002E007200750070006500740072006F00760040006E0061006D00650063006F006D0070002E0072007500730068006900720079006500760040006E0061006D00650063006F006D0070002E00720075006D00690072006E006F0076006100400040006E0061006D00650063006F006D0070002E00720075007400720065006C006B006F00760040006E0061006D00650063006F006D0070002E00720075000D0000004000000000811400000081131400008112270000C00139000081123A000001114C000081135D000081127000004001820000811283000081149500000113A90000000A000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_5DCAEF64]    Script Date: 08.03.2023 15:58:42 ******/
CREATE STATISTICS [_WA_Sys_00000006_5DCAEF64] ON [dbo].[User]([UserPassword]) WITH STATS_STREAM = 0x01000000010000000000000000000000C7A2232C00000000F803000000000000B803000000000000E7030061E7000000C80000000000000015D00000007500740700000022B05701BDAF00000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001000000000004041000020410000000000004041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000580100000000000034020000000000003C020000000000004402000000000000400000000000000063000000000000008600000000000000A900000000000000CC00000000000000EF0000000000000012010000000000003501000000000000300010000000803F000000000000803F0400000100230032004C0036004B005A004700300010000000803F000000000000803F0400000100230038006E007400770055007000300010000000803F000000000000803F04000001002300410074006E0044006A007200300010000000803F000000400000803F040000010023004C0064004E0079006F007300300010000000803F000000000000803F04000001002300520053006200760048007600300010000000803F000000000000803F04000001002300720077005600440068003900300010000000803F000000000000803F0400000100230075007A005700430036003700300010000000803F000000000000803F0400000100230059004F007900680066005200FF01000000000000000A0000000A000000280000002800000000000000000000003B00000032004C0036004B005A00470038006E007400770055007000410074006E0044006A007200670079006E0051004D0054004A006C004600520043005A004C0064004E0079006F0073005200530062007600480076007700560044006800390075007A00570043003600370059004F0079006800660052000C00000040000000008106000000810606000081060C00008106120000810618000081061E0000C001240000810525000001052A000081062F00000106350000000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK_User_1]    Script Date: 08.03.2023 15:58:42 ******/
UPDATE STATISTICS [dbo].[User]([PK_User_1]) WITH STATS_STREAM = 0x01000000010000000000000000000000B23069A90000000040000000000000000000000000000000380301003800000004000A00000000000000000010000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
USE [master]
GO
